<!DOCTYPE html>
<html>
<head>
  <title>Registo</title>
</head>
<body>
  <h1>Registo</h1>
  <form method="POST" action="/register">
    <input name="username" placeholder="Username" required><br>
    <input name="password" type="password" placeholder="Password" required><br>
    <button type="submit">Registar</button>
  </form>
  <p>Já tens conta? <a href="/login">Faz login</a></p>
</body>
</html>
